<li class='subdir folded'>
    <input type="checkbox" name="selfolder" value="<%= _path %>">
    <a class='folder' href='#<%= _path %>' onclick='toggleFold(this)'>
        <span class="icon_holder"></span>
        <%= file %>
    </a>
    <a class="new-tab-view" style="margin-left:20px" href="<%= _path %>"><i>☞</i></a>
    <%- subdir %>
</li>
